{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock%}
{% block title_h1 %}<center>{{ title }}</center>{% endblock %}
{% block content %}
<div class="row container">
    <div class="col-md-4 offset-md-4">
        <form class="form-inline" method="post" enctype="multipart/form-data" action="{% url 'read_csv' %}">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
</div>
{% endblock %}