{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock%}
{% block title_h1 %}<center>{{ title }}</center>{% endblock %}
{% block content %}
<div class="row container">
    <div class="col-md-6 offset-md-5">
        <form method="post" action="{% url 'scrap' %}">
            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
</div>
{% endblock %}