{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock%}
{% block title_h1 %}<center>{{ title }}</center>{% endblock %}
{% block content %}
<div class="row container">
    <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"><center>Ads</center></th>
              <th scope="col"><center>Link</center></th>
            </tr>
          </thead>
          <tbody>
          {% for ad, link in results %}
            <tr>
                <th scope="row">{{ ad }}</th>
                <td><a href="{{ link }}"><center>GO</center></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}